h2{
    text-align: center;
}
label{
    color:grey;
}
body{
    margin:0;
    display: flex;
}

.div-form{
    margin: auto;
    width: 400px;
    display: flex;
    justify-content: center;
}
.form-group{
    width:400px;
    padding: 40px;
}
button{
    width: 100%;
}